*body {
    margin: 0;
    padding: 0;
   
}
body{
    width:100vw ;
    height: 100vh;
    background-image: url(s.s.s.\ marke.png);
    background-size: 100%;
    background-repeat: no-repeat;
 }

 h1{ color: rgb(32, 34, 36)
}
 p{color: rgb(31, 32, 34);}

 section{
    color: rgb(22, 113, 194); }

h1{
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    color: rgb(32, 34, 36);
}

.lulu{

}
  