style {
    margin: 0;
    padding: 0;
   
}
body{
    width:100vw ;
    height: 100vh;
    background-image: url(s.s.s.\ marke.png);
    background-size: 100%;
    background-repeat: no-repeat;
 }
 h1{ color: aliceblue;
 }
 p{color: aliceblue;}
 section{
    color: aliceblue;
 }

 @media screen and (max-width: 600px) {
    body {
        background-image: url(s.s.s.\ marke.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    h1{ color: aliceblue;
    }
    p{color: aliceblue;}
    section{
        color: aliceblue;
    }
    
 }
 @media screen and (max-width: 768px) {
    body {
        background-image: url(s.s.s.\ marke.png);
        background-size: 5100%;
        background-repeat: no-repeat;
    }
    h1{ color: aliceblue;
    }
    p{color: aliceblue;}
    section{
        color: aliceblue;
    }
    
}